.Slide {
  font-size: 1rem;
  padding: 0 0.625rem;
}
@media screen and (min-width: 20rem) {
  .Slide {
    font-size: 5vw;
  }
}
@media screen and (min-width: 40rem) {
  .Slide {
    font-size: 2rem;
  }
}

.Slide p {
  margin: 0 0 1rem 0;
}
