@value breakpoints: "../../shared/css/breakpoints.css";
@value colors: "../../shared/css/colors.css";
@value fonts: "../../shared/css/fonts.css";
@value misc: "../../shared/css/misc.css";
@value breakpoint-w-1, breakpoint-w-2, breakpoint-w-3 from breakpoints;
@value neutral-dark, primary-green from colors;
@value font-primary, font-secondary from fonts;
@value border-radius from misc;

.Contact {
  composes: page from "../../shared/css/index.css";
  composes: responsive-container from misc;
  background: neutral-dark;
  overflow-y: auto;
}
@media screen and (min-height: 56.875rem) {
  .Contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.Contact h1 {
  border-bottom: 3px solid #fff;
  color: #fff;
  font-family: font-primary;
  margin: 0;
  padding: 0 0.625rem 1.25rem 0.625rem;
  text-transform: uppercase;
}

.Contact form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.25rem 0.625rem 1.25rem 0.625rem;
}

.Contact input, .Contact textarea {
  margin-top: 1.25rem;
}

.formInput {
  background: none;
  border: 1px solid #fff;
  border-radius: border-radius;
  color: #fff;
  font-family: font-secondary;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  width: 100%;
}
select.formInput {
  appearance: none;
}

.Contact form button {
  background: primary-green;
  border: none;
  border-radius: border-radius;
  color: #fff;
  font-family: font-primary;
  font-size: 1rem;
  margin: 1.25rem auto 0 auto;
  max-width: 200px;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  width: 100%;
}

@media breakpoint-w-1 { /* 700px */
  .Contact h1 {
    font-size: 4rem;
  }
  .Contact form button, .formInput {
    font-size: 1.125rem;
  }

  .Contact .formInput:nth-child(3), .Contact .formInput:nth-child(4) {
    width: calc(50% - 0.625rem);
  }
  .Contact .formInput:nth-child(3) {
    margin-right: 1.25rem;
  }
}

@media breakpoint-w-2 {
  .Contact h1 {
    font-size: 5rem;
  }
  .Contact form button, .formInput {
    font-size: 1.25rem;
  }
}

@media breakpoint-w-3 {
  .Contact h1 {
    font-size: 6rem;
  }
  .Contact form button, .formInput {
    font-size: 1.5rem;
  }
}
